<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Register</h1>
    {% for message in get_flashed_messages(category_filter = ['reg']) %}
        {{message}}
    {% endfor %}
    <form action="/users/register" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <label for="password2"> Confirm Password:</label>
        <input type="password" name="password2" id="password2">
        <button>Submit</button>
    </form>
    <h1>Login</h1>
    {% for message in get_flashed_messages(category_filter = ['log']) %}
        {{message}}
    {% endfor %}
    <form action="/users/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <button>Submit</button>
    </form>
</body>
</html>