<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
</head>
<body>
    <h1>Welcome, {{logged_user.first_name}}</h1>
    <h2>{{recipe.name}}</h2>
    <h3>Posted by: {{recipe.maker.first_name}}</h3>
    <div>
        <p>Description: {{recipe.description}}</p>
        <p>Under 30 minutes? {% if recipe.minutes == 1 %}True{% else %}False{% endif %}</p>
        <p>Instructions: {{recipe.instructions}}</p>
        <p>Date Made: {{recipe.date}}</p>
    </div>
    <a href="/welcome">Back to all recipes</a>
    <a href="/clear">logout</a>
</body>
</html>