<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sighting</title>
</head>
<body>
    <h1>Sasquatch Websighting</h1>
    <h3>{{logged_user.first_name}} {{logged_user.last_name}}</h3>
    <a href="/welcome">Back to Sightings</a>
    <a href="/clear">Logout</a>
    <div>
        <h1>{{sighting.location}} on {{sighting.date}}</h1>
        <p>What Happened:</p>
        <p>{{sighting.what_happened}}</p>
        <p># of Sasquatches: {{sighting.num}}</p>
        <p>Reported by: {{sighting.reporter.first_name}} {{sighting.reporter.last_name}}</p>
    </div>
</body>
</html>