<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DojoSurvey</title>
</head>
<style>

    #formbox{
        background-color:rgb(196, 195, 195);
        width: fit-content;
        padding: 20px;
        border: 2px solid black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    button{
        padding: 10px;
        background-color: royalblue;
        border: 1px solid black;
        box-shadow: 1px 1px 1px;
    }
</style>
<body>
    <form id="formbox" action="/process" method="post">
        <!-- action will match a route in our server / controller  -->
        <p>Your Name:</p>
        <input type="text" placeholder="Name" name="name">
        <p>Dojo Location:</p>
        <select name="location" id="">
            <option value="Seattle">Seattle</option>
            <option value="San Jose">San Jose</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Online">Online</option>
        </select>
        <p>Favorite Language</p>
        <select name="language" id="">
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="Mern">Mern</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Other">Other</option>
        </select>
        <p>Comments (optional)</p>
        <textarea id="textbox" name="comments" id="" cols="50" rows="10" placeholder="(...)"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>