<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>album</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div id="container">
        <div id="top-bar">
            <h1>albummer</h1>
        </div>
        <div>
            <h1>Welcome, {{logged_user.first_name}}</h1>
        </div>
        <div>
            <h3 id="favs">all our favorites:</h3>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Album Title:</th>
                        <th>Artist:</th>
                        <th>Genre:</th>
                        <th>Favorite Song:</th>
                        <th>User:</th>
                        <th>Actions:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for album in all_albums%}
                    <tr>
                        <td>{{album.album_title}}</td>
                        <td>{{album.artist}}</td>
                        <td>{{album.genre}}</td>
                        <td>{{album.favorite_song}}</td>
                        <td>{{album.poster.first_name}} {{album.poster.last_name}}</td>
                        <td>
                            <a id="links" href="/albums/{{album.id}}">View</a>
                            {% if session['user_id'] == album.user_id %}
                            <a id="links" href="/albums/{{album.id}}/edit">Edit</a>
                            <a id="links" href="/albums/{{album.id}}/delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="link-div">
                <p><a id="links" href="albums/new">Post an album</a></p>
                <p><a id="links" href="/clear">Logout</a></p>
            </div>
        </div>
    </div>
    <!-- <p><a id="links" href="">Search an album with Spotify</a></p>
    <p><a id="links" href="">Random album</a></p> -->
</body>

</html>