<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div id="container">
        <div id="top-bar">
            <h1>albummer</h1>
        </div>
        <div>
            <h1 id="big-title">{{album.album_title}}</h1>
            <h2>{{album.artist}}</h2>
            <h3>{{album.genre}}</h3>
            <p>This album was posted by {{album.poster.first_name}} {{album.poster.last_name}} and their favorite song
                is
                {{album.favorite_song}}</p>
        </div>

        <div id="link-div">
            <p><a id="links" href="/welcome">Back to all albums</a></p>
            <p><a id="links" href="/clear">logout</a></p>
        </div>

    </div>

</body>

</html>