
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed';
    background: white
    
}
header{
    overflow: hidden;

    padding: 30px;
    background: white;
    height: 90vh;
    width: 100vw;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    clip-path: polygon(2% 11%, 3% 7%, 96% 16%, 96% 27%, 91% 79%, 10% 93%, 8% 89%);
    position: relative;
}

.container{
    position: absolute;
    color: black;
    font-size: 22px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container h1{
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-align: center;
}
form{
    position: relative;
    display: flex;
    width: 500px;
}
input{
    width: 100%;
    max-width: 100%;
    height: 45px;
    padding: 15px 30px;
    border-radius: 50px;
    border: 1px solid black;
    outline: none;
}
button{
    width: 100px;
    max-width: 100%;
    /* height: 40px; */
    background: white;
    color: black;
    border-radius: 50px;
    border: 0.5px solid black;
    position: absolute;
    right: 2px;
    bottom: 2px;
    top: 2px;
    font-weight: 600;
    outline: none;
}
button:hover{
    transform: scale(0.95);
}
li{
    list-style: none;
}

.result{
    color: black;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px;
    position: relative;
    display: block;

}


.song-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50% ,0);
    background: white;

}
.song-list li{
    margin-bottom: 20px;
    width: 500px;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: overline;
    text-decoration-color: black;
    position: relative;
    /* line-height: 30px; */
}

.song-list li::after{
    content: "";
    position: absolute;
    right: -20px;
    left: -20px;
    bottom: -4px;
    height: 3px;
    background: black;
    display: inline-block;
}
.song-list li div{
    float: left;
}

.song-list li span{
    float: right;
    background-color: white;
    border: 0;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    font-weight: 400;
    padding: 4px 10px;
    text-transform: capitalize;
}



